<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>ECMA Project</title>
</head>
<body>
    <header class="text-bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-between">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <i class='bx bx-bar-chart-square'></i>
                </a>
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/" class="nav-link px-2 text-secondary">Trang chủ</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">Giới thiệu</a></li>
                    <!-- <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li> -->
                    <li><a href="#" class="nav-link px-2 text-white">Liên hệ</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">Thêm</a></li>
                </ul>
                <div class="text-center flex-grow-1">
                    <img src="https://png.pngtree.com/png-vector/20220910/ourmid/pngtree-currency-exchange-flat-vector-isolated-sign-icon-transfer-icon-logo-vector-png-image_39172168.png" 
                         alt="Logo" 
                         class="img-fluid" 
                         style="max-width: 100px;"> <!-- Increased max-height -->
                </div>
                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                    <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..."
                        aria-label="Search">
                </form>
    
                <div class="text-end">
                    <button type="button" class="btn btn-outline-light me-2">Login</button>
                    <button type="button" class="btn btn-warning">Sign-up</button>
                </div>
            </div>
        </div>
    </header>